# Enforce text file line endings
* text=auto

# Unity YAML serialization
*.unity text
*.prefab text
*.asset text
*.meta text
*.mat text
*.anim text
*.physicMaterial text

# Images and binary files
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.tga binary
*.gif binary
*.mp4 binary
*.mp3 binary
*.wav binary
*.ogg binary
*.fbx binary
*.obj binary
*.dae binary
*.hdr binary
*.exr binary
*.dll binary

# Fonts
*.ttf binary
*.otf binary

# Models
*.blend binary
*.max binary
*.c4d binary
*.ma binary
*.mb binary

# Archives
*.zip binary
*.rar binary
*.7z binary
*.gz binary
*.tar binary
*.bz2 binary

# Shader Cache
*.shader binary
*.cginc binary
*.compute binary
